body {
    font: normal 15pt arial;
    background-color: rgb(0, 183, 255);
}

header {
    color: white;
    text-align: center;
    font: normal 22pt arial;
    text-align: center;
}
/*.memory p {
}*/

section {
    background: rgba(0, 0, 0, 0.795);
    width: 400px;
    text-align: center;
}

div#res{
    display: flex;
    justify-content: right;  /* Alinha o botão horizontalmente */
    align-items: center;      /* Alinha o botão verticalmente */
    height: vh;  
    font: normal 5px arial;   
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}